<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <log4net>
    <!--错误日志-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\LogError\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n错误描述：%message%newline %n"/>
      </layout>
    </appender>
    <!--Info日志-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n日志描述：%message%newline %n"/>
      </layout>
    </appender>
    <!--监控日志-->
    <appender name="MonitorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogMonitor\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n跟踪描述：%message%newline %n"/>
      </layout>
    </appender>
    <!--Error日志-->
    <logger name="LogError">
      <level value="ERROR"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <!--Info日志-->
    <logger name="LogInfo">
      <level value="INFO"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <!--监控日志-->
    <logger name="LogMonitor">
      <level value="Monitor"/>
      <appender-ref ref="MonitorAppender"/>
    </logger>
  </log4net>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--dll路径配置-->
    <assembly name="DJL.Work.ICommonService"/>
    <assembly name="DJL.Work.CommonService"/>
    <containers>
      <container>
        <register type="DJL.Work.ICommonService.IMemberService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.MemberService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IAdminInfoService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.AdminInfoService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IActionInfoService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.ActionInfoService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IMemberCollectorService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.MemberCollectorService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IMemberInfoService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.MemberInfoService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IMusicPlayerService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.MusicPlayerService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IMusicService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.MusicService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IMusicTypeService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.MusicTypeService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IRoleInfoService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.RoleInfoService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.IWebLogService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.WebLogService,DJL.Work.CommonService"/>
        <register type="DJL.Work.ICommonService.ICarouselCanfigService,DJL.Work.ICommonService" mapTo="DJL.Work.CommonService.CarouselCanfigService,DJL.Work.CommonService"/>
      </container>
    </containers>
  </unity>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PasswordSalt" value="djllovemusic"/>
    <!--DefaultRoleName-->
    <add key="DefaultRoleName" value="administrator"/>
  </appSettings>
  <connectionStrings>
    <add name="MusicOnlineDBContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MusicOnlineDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <sessionState mode="InProc" timeout="20"></sessionState>
    <customErrors mode="RemoteOnly">
      <error statusCode="500" redirect="~/Views/Shared/Error.cshtml"/>
      <error statusCode="404" redirect="/Home/NotFind"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" defaultUrl="~/Home/Index" timeout="2880" path="/" requireSSL="false" protection="All" slidingExpiration="true"></forms>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
