
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFind</title>
</head>
<body>
    <h1>404<a href="/Person"></a></h1>
</body>
</html>
