@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "服务器错误";
    Layout = null;
}
<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>后台管理系统: Admin</h1>
        <h1>服务器出错误了:</h1><br />
        <h3>错误控制器：@Model.ControllerName</h3><br />
        <h3>错误执行方法：@Model.ActionName</h3><br />
        <p>错误消息：@Model.Exception.Message</p><br />
    </div>
</body>
</html>
