<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @RenderSection("Header", false)
</head>
<body>
        @RenderBody()

    @RenderSection("Footer", false)


</body>
</html>
